
# Visual Studio code
.vscode/*
.vscode/
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pyc
*.egg-info

#ipynb
*.ipynb_checkpoints

*.DS_Store
utils/__pycache__/
**/__pycache__/
**/.DS_Store
FISHscale.code-workspace
