
# Visual Studio code
.vscode/*
.vscode/
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.py[cod]
*$py.class

*.pyc
*.cpython
*.egg-info

#ipynb
*.ipynb_checkpoints

*.DS_Store
utils/__pycache__/
**/__pycache__/
**/.DS_Store
FISHscale.code-workspace
utils/__pycache__/hex_regionalization.cpython-38.pyc
